<div class="w-full bg-black text-white p-5">
    <div class="flex flex-row justify-between">
        <a href="#"><h2 style="font-size: 27px" class="font-thin">INKVERSE</h2></a>
        <div class="flex flex-row gap-10">
            <a href="#"><h2 style="font-size: 20px">HOME</h2></a>
            <a href="#"><h2 style="font-size: 20px">BROWSE</h2></a>
        </div>
    </div>
    <div class="w-full bg-white h-[2px] my-2"></div>
    <p class="text-center">©2023 INKVERSE. All Rights Reserved</p>
</div>