<div class="flex flex-row w-full justify-between p-5">
    <a routerLink="/home"><h2 class="text-3xl">INKVERSE</h2></a>
    <div class="border-b-4 border-black w-[50%]">
        <input class="relative w-full ml-10  bg-transparent" type="text" placeholder="Search">
        <img src="../../assets/Icons/search-interface-symbol 1.png" class="absolute top-[22px]">
    </div>
    <div class="flex flex-row gap-10 top-2 right-2 relative">
        <a href="#"><h2 class="text-2xl">HOME</h2></a>
        <a href="#"><h2 class="text-2xl">BROWSE</h2></a>
    </div>
</div>